extends layout

block content
  div(style="text-align: center ;")
    img(src="/images/MyninoCoin-logo.png")
    p Welcome to #{title}
    img(src="https://78.media.tumblr.com/tumblr_lrp6cbeELu1qhcorxo2_500.gif")
